<template>
  <div class="root">
    <ul>
      <li v-for="r in result" :style="{ color: (r.res % 2 !== 0 ? 'blue' : 'red') }">
        {{ multiplier }} &times; {{ r.m }} = {{ r.res }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "MultiplierContainer",
  props: ['multiplier'],
  computed: {
    result() {
      return Array.from(new Array(9), (_, index) => ({
        m: index + 1,
        res: (index + 1) * this.multiplier
      }));
    }
  }
}
</script>

<style scoped>
  .root {
    background-color: #ebebeb;
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;

  }
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
  li {
    font-weight: bold;
  }
</style>