<script setup lang="ts">
import MultiplierContainer from './components/MultiplierContainer.vue';

const multipliers = Array.from(new Array(8), (_, i) => i + 2);
</script>

<template>
  <div class="root">
    <MultiplierContainer v-for="m in multipliers" class="container" :multiplier="m" />
  </div>
</template>

<style scoped>
  .root {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .container {
    flex: 0 0 24%;
  }

</style>
